# Hi! This file contains custom settings for your local development
# installation. It can also be used to setup the production environment if you
# want to host the service yourself.
#
# Copy this file from "env.sample" to ".env" (mind the leading dot) and perform
# your modification in this new file

# Values are read in settings.py. Every configuration option has to be written
# in a separate line in KEY=value format, without any spaces around "=" or
# before KEY.

# Turn on Django debug mode
# See https://docs.djangoproject.com/en/dev/ref/settings/#debug for more details
DEBUG=on

# A Django secret key to crypto sign your messages, sessions, etc.  Can be any
# random string and has to be kept in secret.
# See https://docs.djangoproject.com/en/dev/ref/settings/#std:setting-SECRET_KEY
# for more details
SECRET_KEY=arandomsecretstring

# URL to connect to your database. You can use SQLite in dev environment
# Postgres example:
# DATABASE_URL=postgres://username:password@localhost/databasename
# SQLite example:
DATABASE_URL=sqlite:///powerapp.sqlite

# Todoist Application settings. Create your own set of settings in
# https://todoist.com/app_console/ and copy "Client ID" and "Client Secret" here
TODOIST_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TODOIST_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Settings for integration testing. Optional. Even if you're a developer :)
TEST_NGROK_SUBDOMAIN=
TEST_NGROK_AUTH_TOKEN=
TEST_PREMIUM_EMAIL=premium@example.com
TEST_PREMIUM_PASSWORD=password

# Other optional setting for all sorts of third-party integrations.
# GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxx
# GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx
# POCKET_CONSUMER_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxx
