include README.rst
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-include powerapp/core/templates *
recursive-include powerapp/core/static *
prune docs/_build
