{% extends "base.html" %}
{% load staticfiles %}

{% block usermenu %}

    <form method="post" action="{% url 'web_logout' %}" class="hide" id="logout-form">{% csrf_token %}</form>

    <ul class="powerapp-right-menu">
        <li><a href="https://todoist.com" target="_blank">Open Todoist</a></li>
        <li><a href="{% url 'web_logout' %}" id="logout-link">Logout</a></li>
    </ul>
{% endblock %}

{% block main %}
    <div class="powerapp-main powerapp-container">

        <div class="powerapp-nav">
            <ul class="left-menu">
                <li{% if active == "dashboard" %} class="active"{% endif %}><a href="{% url 'web_index' %}">Dashboard</a></li>
                <li{% if active == "services" %} class="active"{% endif %}><a href="{% url 'web_services' %}">Services</a></li>
            </ul>
        </div>

        <div class="powerapp-content">
            {% block content %}{% endblock %}
        </div>

    </div>
{% endblock %}
