{% extends "edit_integration_base.html" %}

{% block extra_actions %}
    {% if form.integration %}
    <form action="{% url "evernote_sync:sync_now" form.integration.id %}" id="sync_now" method="post">{% csrf_token %}
    <a href="#" id="sync_now_link">sync now</a>
    {% endif %}
{% endblock %}

{% block extra_js %}
<script>
    $(function() {
        $("#sync_now_link").click(function() {
            $("#sync_now").submit();
            return false;
        });
    })
</script>
{% endblock %}

{% block form %}
    {% csrf_token %}

    <div class="row">
        <div class="input-field col s12">
            {{ form.name }}
            {{ form.name.label_tag }}
            {% if form.name.errors %}<div class="red-text">{{ form.name.errors }}</div>{% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <label>Evernote Notebooks to Synchronize</label>
            {{ form.evernote_notebooks }}
            {% if form.evernote_notebooks.errors %}<div class="red-text">{{ form.evernote_notebooks.errors }}</div>{% endif %}
        </div>
    </div>

{% endblock %}
