@import "lib/materialize";

@page-padding: 20%;

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


.muted {
    &:extend(.grey-text.text-darken-2);
}
a.muted {
    &:extend(.grey-text);
}

.powerapp-header {

    &:extend(.white-text, .grey.darken-3);
    @height: 64px;
    @top-padding: 7px;

    padding-left: @page-padding;
    padding-right: @page-padding;

    flex-basis: @height;
    flex-grow: 0;
    flex-shrink: 0;

    .powerapp-logo {
        display: block;
        float: left;
        padding-top: @top-padding;
        height: @height - @top-padding;
        line-height: @height - @top-padding;
        color: #FFFFFF;
        img {
            vertical-align: text-bottom;
            margin-right: 5px;
        }
    }

    .powerapp-usermenu {
        line-height: @height;
        float: right;
        min-width: 150px;
        img:extend(.circle) {
            vertical-align: middle;
            margin-right: 5px;
            width: 28px;
            height: 28px;
        }
        color: #FFFFFF;
    }

}

.powerapp-main-plain:extend(.grey-text.text-darken-3, .valign-wrapper) {
    padding-left: @page-padding;
    padding-right: @page-padding;
    flex-grow: 1;
    > div:extend(.valign) {
        width: 100%;
        text-align: center;
    }
}

.powerapp-main:extend(.grey-text.text-darken-3) {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .powerapp-left:extend(.grey.lighten-4) {
        padding-top: 36px;
        padding-left: @page-padding;
        width: 35%;

        .left-menu {
            li {
                display: block;
                list-style: none;
                text-transform: uppercase;
                height: 42px;
                line-height: 42px;
                font-size: 10pt;
                padding-left: 12px;
                a {
                    color: #c4c4c4;
                }
                &.active {
                    background-color: #FFFFFF;
                    border: 1px solid #f0f0f0;
                    border-right: none;
                    border-bottom-left-radius: 2px;
                }
            }
        }
    }

    .powerapp-content {
        padding-top: 36px;
        padding-left: 30px;
        padding-right: @page-padding;
        border-left: 1px solid #f0f0f0;
        width: 65%;


        .title {
            font-size: 18pt;
        }
        .top-action-button:extend(.waves-effect, .waves-light, .btn, .right) {
        }

        .dashboard-card:extend(.grey-text.text-darken-2) {
            float: left;
            width: 250px;
            min-width: 200px;
            padding: 10px;
            text-align: center;
            border: 1px solid #e5e5e5;
            margin-right: 10px;
            margin-bottom: 10px;

            p:first-of-type {
                margin: 0;
            }
            img:extend(.z-depth-1) {
                border-radius: 8px;
                width: 100px;
                height: 100px;
                margin-top: 40px - 10px;
            }
            .actions {
                visibility: hidden;
                transition: visibility 0s;
            }

            &:hover .actions {
                opacity: 1;
                visibility: visible;
            }
        }


        .service-card:extend(.z-depth-1) {
            border-radius: 2px;
            display: flex;
            flex-direction: row;
            margin-bottom: 25px;
            min-width: 400px + 200px;

            .service-picture {
                text-align: center;
                padding: 24px 20px 20px 20px;
                width: 200px;
                min-width: 200px;

                img:extend(.z-depth-1) {
                    border-radius: 8px;
                    width: 100px;
                    height: 100px;
                    margin-bottom: 25px;
                }
            }
            .service-description {
                border-left: 1px solid #ededed;
                padding: 24px 20px 20px 20px;
                min-width: 400px;

                // The service name
                h4 {
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 20px;
                    margin: 0;
                }
                // The link under the service
                p:first-of-type {
                    margin: 0;
                }

                form {
                    margin-top: 100px;
                }
            }
        }

    }

}
